h1 {
    color: #C0392B;
}

body {
    background-color: #76D7C4;
}
.container {
    background color: #0000FF;
}
body {
    background-image: ("earth.gif");
} 
p {
  font-family: verdana;
} 
